<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hello:{{.Name}}</p>

                {{if gt .Age 18}}
        1
                {{else}}
        2
                {{end}}
<p></p>
</body>
</html>